registry.llm.waveyfy.network {
  reverse_proxy / :3000 {
    transparent
  }
}

api.llm.waveyfy.network {
  reverse_proxy / :18888 {
    transparent
  }
}

control.llm.waveyfy.network {
  reverse_proxy / :28888 {
    transparent
  }
}

llm.waveyfy.network {
  reverse_proxy / :5173 {
    transparent
  }
}